body {
  padding: 0px;
  margin: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

h1 {
  font-size: 15rem;
  color: pink;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}