@font-face {
  font-family: "Replica";
  src: local("Replica"),
   url("./fonts/replica/Replica-Bold.ttf") format("truetype");
  font-weight: bold;
  }
  
  body {
  margin: 0;
  font-family: "Replica", 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
  background-image: url("./assets/bg.png");
  background-size: initial;
}

h1 {
  font-size: 28px;
  line-height: 32px;
  padding: 0;
  padding-top: 7px;
  margin: 0;
  margin-bottom: 1px;
}

h2 {
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  padding-top: 6px;
  margin: 0;
  margin-bottom: 2px;
}

p {
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  padding-top: 3px;
  margin: 0;
  margin-bottom: 13px;
}